.design{
text-align:center;
text-decoration-style:bold;
font-size:10;
}

.images{
width:250px;
margin-left:600px;
border-radius:45px;
width:250px;
height:100px;
}

body{
background-color:silver;
}
.NB {
text-decoration: bold;
font-size:19px;
}

















